@import "tailwindcss";

@font-face {
  font-family: "Poppins";

  src:
    local("Poppins"),
    url("../public/fonts/Poppins-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Medium";

  src:
    local("Poppins Medium"),
    url("../public/fonts/Poppins-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Poppins SemiBold";

  src:
    local("Poppins SemiBold"),
    url("../public/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Bold";

  src:
    local("Poppins Bold"),
    url("../public/fonts/Poppins-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Black";

  src:
    local("Poppins Black"),
    url("../public/fonts/Poppins-Black.ttf") format("truetype");
  font-display: swap;
}

@custom-variant dark (&:where(.dark, .dark *));

@utility container {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  @media (width >= 96rem) {
    max-width: 1202px;
  }
}

@utility bg-headerImage {
  background-image: url("/dist/images/header-avatar.jpg");
  background-repeat: no-repeat;
}
@utility bg-wave {
  background-image: url("/dist/images/shapes/wave.svg");
  background-repeat: no-repeat;
}
@utility bg-web {
  background-image: url("/dist/images/shapes/service-shape.svg");
  background-repeat: no-repeat;
}
@utility bg-1 {
  background-image: url("/dist/images/shapes/sh1.svg");
  background-repeat: no-repeat;
}
@utility bg-2 {
  background-image: url("/dist/images/shapes/sh2.svg");
  background-repeat: no-repeat;
}
@utility bg-3 {
  background-image: url("/dist/images/shapes/sh3.svg");
  background-repeat: no-repeat;
}
@utility bg-4 {
  background-image: url("/dist/images/shapes/sh4.svg");
  background-repeat: no-repeat;
}
@utility bg-5 {
  background-image: url("/dist/images/shapes/sh5.svg");
  background-repeat: no-repeat;
}

@theme {
  --font-Poppins: "Poppins";
  --font-PoppinsMedium: "Poppins Medium";
  --font-PoppinsSemiBold: "Poppins SemiBold";
  --font-PoppinsBold: "Poppins Bold";
  --font-PoppinsBlack: "Poppins Black";

  --color-green: #49af46;
  --color-blue: #13b6ff;
  --color-orange: #ff6331;
  --color-light-orange: #ff5823;
  --color-pink: #ec407a;
  --color-purple: #8540ff;
  --color-light-orange: #f57f17;
  --color-light-green: #0abead;
  --color-yellow: #ffc50c;
  --color-black: #333;
  --text-8xl: 78px;
  --text-md: 16px;

  --shadow-lightBlue: 0px 3px 59px rgba(4, 195, 255, 16%);
  --shadow-image: 0px 0px 59px rgba(96, 233, 255, 27%);
  --shadow-leftBtn: 0px 16px 29px rgba(11, 190, 173, 41%);
  --shadow-rightBtn: 0px 16px 28px rgba(254, 127, 23, 24%);

  --breakpoint-xs: 430px;
}

@layer components {
  .menu_item {
    @apply relative pr-2.5 *:text-orange-300;
  }
  .menu_item::before {
    @apply content-[''] w-1 h-1 bg-orange-300 absolute block m-auto right-0 top-0 bottom-0 rounded-full;
  }

  .hambergur-icon {
    @apply w-11.25 h-1 bg-light-green rounded-xs relative;
  }
  .hambergur-icon::before {
    @apply content-[''] w-11.25 h-1 bg-light-green rounded-xs absolute top-2.5 transition-all;
  }
  .hambergur-icon::after {
    @apply content-[''] w-11.25 h-1 bg-light-green rounded-xs absolute -top-2.5 transition-all;
  }

  .x-icon {
    @apply bg-white;
  }
  .x-icon::before {
    @apply -translate-y-2.5 -rotate-45;
  }
  .x-icon::after {
    @apply translate-y-2.5 rotate-45;
  }

  .mobile_menu {
    @apply absolute z-20 flex md:hidden flex-col items-center w-8/10 *:mt-5 translate-x-1/2 right-1/2 top-full bg-white text-xl shadow-2xl transition-all duration-250 h-0 overflow-hidden;
  }

  /* .mobile_menu-open {
    @apply visible opacity-100 translate-y-7;
  } */

  .mobile_menu-open {
    @apply h-90;
  }

  .overlay {
    @apply fixed top-35 inset-0 w-full h-full bg-black/20 z-10 md:hidden transition-all duration-250 invisible opacity-0;
  }
  .overlay-open {
    @apply visible opacity-100;
  }

  .line::before {
    @apply content-[''] w-9.75 h-2.75 block absolute mx-auto left-0 right-0 -top-1 bg-light-green rounded-2xl;
  }

  .Resume_items::before {
    @apply content-[''] h-full w-10.5 bg-light-green absolute top-0 bottom-0 left-0 -z-10 shadow-image;
  }

  .link_btn {
    @apply size-12.5 bg-light-green rounded-full flex items-center justify-start absolute -z-10 transition-all duration-300;
  }

  .selected_item {
    @apply w-75.5! shadow-image!;
  }

  .item_color {
    @apply ml-17 transition-all duration-300 text-black;
  }

  .heading_resume_tab_item::before {
    @apply content-[''] size-5 rounded-full bg-light-green absolute -left-8.75;
  }
}
